#side_nav{
    background-color: blueviolet;
    min-height: 250px;
    min-width: 250px;
}

.content{
    min-height: 100vh;

}

hr.h-color{
    background-color: #eee;
}

.sidebar li.active{
    background-color: #eee;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: #000;
}

.sidebar li a{
    color: #fff;
}