<div class="row">
    <div class="col-sm-2">
        <app-nav-instructor></app-nav-instructor>
    </div>
    <div class="col-sm-10">
        
    <div class="container mt-3">          
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre Quiz</th>
              <th>Curso</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>QUIZ 1</td>
              <td>Matematicas</td>
              <td>
                <a href="/instructor   quiz" class="btn btn-primary">
                    <i class="fas fa-marker"></i>
                </a>
              </td>
              <td>
                <a href="/instructor pantalla quiz" class="btn btn-danger">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <a id="publicar" class="btn btn-primary">Publicar</a>
      </div>
    </div>
</div>